### Australian Freight Export Data Cleaning
##### Data Cleaning and Preprocessing for 2024-2025 Export Data

This notebook focuses on cleaning and preprocessing the ABS export data before analysis.

In [1]:
# Install PySpark (run this first!)
%pip install pyspark

# Check if Java is installed (required for Spark)
!java -version

# Check Python packages
!pip list | grep spark

Requirement already satisfied: pyspark in c:\users\remmz\appdata\local\programs\python\python311\lib\site-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in c:\users\remmz\appdata\local\programs\python\python311\lib\site-packages (from pyspark) (0.10.9.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

'java' is not recognized as an internal or external command,
operable program or batch file.

'grep' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
#set display options for better viewing
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

In [4]:
# Check original product descriptions BEFORE any processing

#### 1. Data Loading

In [5]:
# Load the export data
df = pd.read_csv('data/exports_2024_2025.csv')

print(f"Dataset loaded successfully!")
print(f"Shape: {df.shape}")
print(f"Columns: {list(df.columns)}")

Dataset loaded successfully!
Shape: (1479965, 18)
Columns: ['month', 'sitc_code', 'sitc', 'country_of_destination_code', 'country_of_destination', 'port_of_discharge_code', 'port_of_discharge', 'state_of_origin_code', 'state_of_origin', 'port_of_loading_code', 'port_of_loading', 'mode_of_transport_code', 'mode_of_transport', 'unit_of_quantity', 'quantity', 'gross_weight_tonnes', 'value_fob_aud', 'year']

In [6]:
df.head(3)

,month,sitc_code,sitc,country_of_destination_code,country_of_destination,port_of_discharge_code,port_of_discharge,state_of_origin_code,state_of_origin,port_of_loading_code,port_of_loading,mode_of_transport_code,mode_of_transport,unit_of_quantity,quantity,gross_weight_tonnes,value_fob_aud,year
0,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,1,New South Wales,101,Sydney,S,SEA,Number,1598.0,1.17700,128687.0,2024
1,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,2,Victoria,201,Melbourne,A,AIR,Number,25.0,0.12808,25013.0,2024
2,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,F,Re-exports,201,Melbourne,S,SEA,Number,8.0,0.04920,492.0,2024

#### 2. Initial Data Exploration

In [7]:
# Basic information about the dataset
print("=== DATASET OVERVIEW ===")
print(f"Total records: {len(df):,}")
print(f"Total columns: {len(df.columns)}")

print("\n=== COLUMN INFORMATION ===")
print(df.info())

=== DATASET OVERVIEW ===
Total records: 1,479,965
Total columns: 18

=== COLUMN INFORMATION ===

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479965 entries, 0 to 1479964
Data columns (total 18 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   month                        1479965 non-null  object
 1   sitc_code                    1479965 non-null  int64
 2   sitc                         1479965 non-null  object
 3   country_of_destination_code  1479965 non-null  object
 4   country_of_destination       1479965 non-null  object
 5   port_of_discharge_code       1479965 non-null  int64
 6   port_of_discharge            1479965 non-null  object
 7   state_of_origin_code         1479965 non-null  object
 8   state_of_origin              1479965 non-null  object
 9   port_of_loading_code         1479965 non-null  int64
 10  port_of_loading              1479965 non-null  object
 11  mode_of_transport_code       1479965 non-null  object
 12  mode_of_transport            1479965 non-null  object
 13  unit_of_quantity             1479965 non-null  object
 14  quantity                     1479965 non-null  float64
 15  gross_weight_tonnes          1479965 non-null  float64
 16  value_fob_aud                1479965 non-null  float64
 17  year                         1479965 non-null  int64
dtypes: float64(3), int64(4), object(11)
memory usage: 203.2+ MB
None

In [8]:
# Check for missing values
print("=== MISSING VALUES ===")
missing_data = df.isnull().sum()
missing_percent = (missing_data / len(df)) * 100

# Check if any missing values exist
if missing_data.sum() == 0:
    print("No missing values found!")
else:
    print(missing_data)
    print(missing_percent)

=== MISSING VALUES ===

No missing values found!

#### 3. Data Cleaning and Conversion

In [9]:
# Convert numeric columns and handle missing values
print("=== CLEANING DATA ===")

# Rename columns for clarity
df = df.rename(columns={
    'sitc': 'product_description',
    'sitc_code': 'prod_descpt_code'
})
print("Renamed 'sitc' to 'product_description' and 'sitc_code' to 'prod_descpt_code'")

# Convert numeric columns
numeric_columns = ['quantity', 'gross_weight_tonnes', 'value_fob_aud']
for col in numeric_columns:
    if col in df.columns:
        print(f"Converting {col} to numeric...")
        df[col] = pd.to_numeric(df[col], errors='coerce')
        
        # Fill missing numeric values with 0
        missing_count = df[col].isnull().sum()
        if missing_count > 0:
            print(f"  Filling {missing_count:,} missing values with 0")
            df[col] = df[col].fillna(0)
        
        # Convert negative values to 0
        negative_count = (df[col] < 0).sum()
        if negative_count > 0:
            print(f"  Converting {negative_count:,} negative values to 0")
            df[col] = df[col].clip(lower=0)

# Fill missing text values
text_columns = ['country_of_destination', 'product_description']
for col in text_columns:
    if col in df.columns:
        missing_count = df[col].isnull().sum()
        if missing_count > 0:
            print(f"Filling {missing_count:,} missing values in {col} with 'Unknown'")
            df[col] = df[col].fillna('Unknown')

print("Data cleaning completed!")

=== CLEANING DATA ===

Renamed 'sitc' to 'product_description' and 'sitc_code' to 'prod_descpt_code'
Converting quantity to numeric...

Converting gross_weight_tonnes to numeric...
  Converting 1,605 negative values to 0
Converting value_fob_aud to numeric...
  Converting 1,605 negative values to 0

Data cleaning completed!

In [10]:
# Inspect product descriptions
print("=== SAMPLE PRODUCT DESCRIPTIONS ===")
print(df['product_description'].head(10))
print(f"\n=== STATISTICS ===")
print(f"Unique products: {df['product_description'].nunique()}")
print(f"Max length: {df['product_description'].str.len().max()}")
print(f"Min length: {df['product_description'].str.len().min()}")

# Check for whitespace issues (define pattern outside f-string to avoid backslash error)
extra_whitespace_count = df['product_description'].str.contains(r'\s{2,}', regex=True).sum()
trailing_space_count = (df['product_description'] != df['product_description'].str.strip()).sum()

print(f"\nAny with extra whitespace: {extra_whitespace_count}")
print(f"Any with leading/trailing spaces: {trailing_space_count}")

df.head(3)

=== SAMPLE PRODUCT DESCRIPTIONS ===
0                      Microphones and stands therefor
1                      Microphones and stands therefor
2                      Microphones and stands therefor
3    Electrical insulators (excl. those of glass or...
4                                          Thermostats
5    Hydrometers and similar floating instruments, ...
6    Hydrometers and similar floating instruments, ...
7    Hydrometers and similar floating instruments, ...
8    Hydrometers and similar floating instruments, ...
9    Hydrometers and similar floating instruments, ...
Name: product_description, dtype: object

=== STATISTICS ===

Unique products: 2849

Max length: 245

Min length: 4

Any with extra whitespace: 14943
Any with leading/trailing spaces: 0

,month,prod_descpt_code,product_description,country_of_destination_code,country_of_destination,port_of_discharge_code,port_of_discharge,state_of_origin_code,state_of_origin,port_of_loading_code,port_of_loading,mode_of_transport_code,mode_of_transport,unit_of_quantity,quantity,gross_weight_tonnes,value_fob_aud,year
0,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,1,New South Wales,101,Sydney,S,SEA,Number,1598.0,1.17700,128687.0,2024
1,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,2,Victoria,201,Melbourne,A,AIR,Number,25.0,0.12808,25013.0,2024
2,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,F,Re-exports,201,Melbourne,S,SEA,Number,8.0,0.04920,492.0,2024

In [11]:
# Clean product descriptions
print("\n=== CLEANING PRODUCT DESCRIPTIONS ===")

# Strip leading/trailing whitespace
df['product_description'] = df['product_description'].str.strip()

# Replace multiple spaces with single space
df['product_description'] = df['product_description'].str.replace(r'\s+', ' ', regex=True)

# Remove line breaks and tabs
df['product_description'] = df['product_description'].str.replace(r'[\n\r\t]+', ' ', regex=True)

# Standardize quotation marks
df['product_description'] = df['product_description'].str.replace('"', '', regex=False)
df['product_description'] = df['product_description'].str.replace("'", '', regex=False)

# Optional: Title case for consistency (comment out if you prefer original casing)
# df['product_description'] = df['product_description'].str.title()

print(f"Product descriptions cleaned!")
print(f"Unique products: {df['product_description'].nunique()}")

=== CLEANING PRODUCT DESCRIPTIONS ===

Product descriptions cleaned!

Unique products: 2849

In [12]:
# Standardization section removed - now handled by SITC mapping
print("✅ Standardization removed - SITC mapping will handle unclassified products")

✅ Standardization removed - SITC mapping will handle unclassified products

In [13]:

# Check for whitespace issues (define pattern outside f-string to avoid backslash error)
extra_whitespace_count = df['product_description'].str.contains(r'\s{2,}', regex=True).sum()
trailing_space_count = (df['product_description'] != df['product_description'].str.strip()).sum()

print(f"\nAny with extra whitespace: {extra_whitespace_count}")
print(f"Any with leading/trailing spaces: {trailing_space_count}")

df.head(3)

Any with extra whitespace: 0
Any with leading/trailing spaces: 0

,month,prod_descpt_code,product_description,country_of_destination_code,country_of_destination,port_of_discharge_code,port_of_discharge,state_of_origin_code,state_of_origin,port_of_loading_code,port_of_loading,mode_of_transport_code,mode_of_transport,unit_of_quantity,quantity,gross_weight_tonnes,value_fob_aud,year
0,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,1,New South Wales,101,Sydney,S,SEA,Number,1598.0,1.17700,128687.0,2024
1,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,2,Victoria,201,Melbourne,A,AIR,Number,25.0,0.12808,25013.0,2024
2,January 2024,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,F,Re-exports,201,Melbourne,S,SEA,Number,8.0,0.04920,492.0,2024

In [14]:
#### 3.5 Derived Features & Transformations

In [15]:
# This section creates derived features before final duplicate removal

In [16]:
# Extract year and month into separate columns
print("\n=== CREATING DERIVED FEATURES ===")

# The original month column format is "Month_Name YYYY" (e.g., "August 2024")
# Extract year (4 digits at the end)
df['year'] = df['month'].str.extract(r'(\d{4})')[0]
df['year'] = pd.to_numeric(df['year'], errors='coerce')

# Extract month name (everything before the year) - get first column as Series
month_name_temp = df['month'].str.extract(r'^([A-Za-z]+)')[0]

# Convert month name to month number
month_to_number = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4, 
    'May': 5, 'June': 6, 'July': 7, 'August': 8,
    'September': 9, 'October': 10, 'November': 11, 'December': 12
}
df['month_number'] = month_name_temp.map(month_to_number)

# Replace the original month column with just the month name
df['month'] = month_name_temp

# Create value per tonne metric
df['value_per_tonne'] = df['value_fob_aud'] / df['gross_weight_tonnes'].replace(0, np.nan)
df['data_processed_date'] = datetime.now().strftime('%Y-%m-%d')

print(f"Years found: {sorted(df['year'].dropna().unique())}")
print(f"Months found: {sorted(df['month_number'].dropna().unique())}")
print(f"Month names: {df['month'].unique()}")
print(f"Value per tonne calculated for {df['value_per_tonne'].notna().sum():,} records")

=== CREATING DERIVED FEATURES ===

Years found: [np.int64(2024), np.int64(2025)]
Months found: [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10), np.int64(11), np.int64(12)]
Month names: ['January' 'February' 'April' 'March' 'May' 'September' 'November'
 'December' 'June' 'July' 'October' 'August']
Value per tonne calculated for 1,478,000 records

In [17]:
# Final duplicate check and removal (after all transformations)
print("\n=== FINAL DUPLICATE CHECK ===")
duplicates = df.duplicated().sum()
print(f"Found {duplicates:,} duplicate rows")

if duplicates > 0:
    # Show some duplicate rows as examples
    print("\nExample of duplicate rows:")
    duplicate_mask = df.duplicated(keep=False)
    sample_duplicates = df[duplicate_mask].head(4).sort_values(by=['month', 'product_description'])
    print(sample_duplicates[['month', 'year', 'product_description', 'country_of_destination', 
                              'value_fob_aud', 'gross_weight_tonnes']].to_string())
    
    # Remove duplicates
    print(f"\nRemoving {duplicates:,} duplicate rows...")
    df = df.drop_duplicates()
    print(f"✅ Duplicates removed! New shape: {df.shape}")
else:
    print("✅ No duplicates found!")

=== FINAL DUPLICATE CHECK ===

Found 0 duplicate rows
✅ No duplicates found!

In [18]:
df.head(5)

,month,prod_descpt_code,product_description,country_of_destination_code,country_of_destination,port_of_discharge_code,port_of_discharge,state_of_origin_code,state_of_origin,port_of_loading_code,port_of_loading,mode_of_transport_code,mode_of_transport,unit_of_quantity,quantity,gross_weight_tonnes,value_fob_aud,year,month_number,value_per_tonne,data_processed_date
0,January,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,1,New South Wales,101,Sydney,S,SEA,Number,1598.0,1.17700,128687.0,2024,1,109334.749363,2025-10-31
1,January,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,2,Victoria,201,Melbourne,A,AIR,Number,25.0,0.12808,25013.0,2024,1,195292.004997,2025-10-31
2,January,76421,Microphones and stands therefor,NZ,New Zealand,554100,Auckland,F,Re-exports,201,Melbourne,S,SEA,Number,8.0,0.04920,492.0,2024,1,10000.000000,2025-10-31
3,February,77324,Electrical insulators (excl. those of glass or...,USA,United States of America,840468,Los Angeles,1,New South Wales,101,Sydney,A,AIR,Not Recorded,0.0,0.00200,819.0,2024,2,409500.000000,2025-10-31
4,April,87461,Thermostats,INDO,Indonesia,360035,Amamapare,3,Queensland,301,Brisbane,S,SEA,Number,8.0,22.44645,1174.0,2024,4,52.302257,2025-10-31

#### 4. Save Cleaned Data

In [19]:
# SITC CODE MAPPING TO PRODUCT DESCRIPTIONS
print("=== SITC CODE MAPPING ===")

# Import SITC mapping from external file
from sitc_mapping import map_sitc_to_product, get_unclassified_patterns

# Apply SITC mapping to unclassified products
print("Mapping SITC codes to product descriptions...")

# Count unclassified products before mapping
unclassified_patterns = '|'.join(get_unclassified_patterns())
unclassified_before = df['product_description'].str.contains(unclassified_patterns, case=False, na=False).sum()
print(f"Unclassified products before mapping: {unclassified_before:,}")

# Create new product description based on SITC codes for unclassified products
mask_unclassified = df['product_description'].str.contains(unclassified_patterns, case=False, na=False)
df.loc[mask_unclassified, 'product_description'] = df.loc[mask_unclassified, 'prod_descpt_code'].apply(map_sitc_to_product)

# Count unclassified products after mapping
unclassified_after = df['product_description'].str.contains(unclassified_patterns, case=False, na=False).sum()
print(f"Unclassified products after mapping: {unclassified_after:,}")
print(f"Products successfully mapped: {unclassified_before - unclassified_after:,}")

print("SITC code mapping completed!")

=== SITC CODE MAPPING ===
Mapping SITC codes to product descriptions...

Unclassified products before mapping: 293,823

Unclassified products after mapping: 38,909
Products successfully mapped: 254,914
SITC code mapping completed!

In [20]:
# COUNTRY CODE MAPPING TO COUNTRY NAMES
print("\n=== COUNTRY CODE MAPPING ===")

# Import country mapping from external file
from country_mapping import map_country_code_to_name, get_problematic_country_patterns

# First, let's check what values are actually in the country_of_destination column
print("Checking country_of_destination column values...")
print("\nUnique values in country_of_destination column:")
country_values = df['country_of_destination'].value_counts()
print(f"Total unique countries: {len(country_values)}")
print("\nTop 20 countries:")
print(country_values.head(20))

print("\nChecking for problematic entries...")
problematic_patterns = get_problematic_country_patterns()
problematic_countries = []

for pattern in problematic_patterns:
    matches = df['country_of_destination'].str.contains(pattern, case=False, na=False)
    if matches.any():
        problematic_countries.extend(df[matches]['country_of_destination'].unique())

if problematic_countries:
    print(f"\nFound problematic country entries:")
    for country in set(problematic_countries):
        count = (df['country_of_destination'] == country).sum()
        print(f"  '{country}': {count:,} records")
else:
    print("\nNo obvious problematic entries found.")

# Apply country code mapping ONLY to truly problematic country names
print("\nMapping country codes to country names...")

# Import the new function
from country_mapping import is_problematic_country_name

# Count truly problematic entries before mapping
problematic_mask = df['country_of_destination'].apply(is_problematic_country_name)
missing_countries_before = problematic_mask.sum()
print(f"Truly problematic country details before mapping: {missing_countries_before:,}")

# Only map entries that are actually problematic
if missing_countries_before > 0:
    df.loc[problematic_mask, 'country_of_destination'] = df.loc[problematic_mask, 'country_of_destination_code'].apply(map_country_code_to_name)

# Count problematic entries after mapping
problematic_mask_after = df['country_of_destination'].apply(is_problematic_country_name)
missing_countries_after = problematic_mask_after.sum()
print(f"Truly problematic country details after mapping: {missing_countries_after:,}")
print(f"Countries successfully mapped: {missing_countries_before - missing_countries_after:,}")

# Show examples of what was mapped
if missing_countries_before > missing_countries_after:
    print(f"\nExamples of successful mappings:")
    mapped_entries = df[problematic_mask & ~problematic_mask_after].head(5)
    for _, row in mapped_entries.iterrows():
        print(f"  Code: {row['country_of_destination_code']} → Country: {row['country_of_destination']}")

print(" Smart country code mapping completed!")

# Show some examples of the mappings
print("\n=== MAPPING EXAMPLES ===")
print("Sample SITC code mappings:")
sample_sitc = df[df['prod_descpt_code'].notna()]['prod_descpt_code'].head(5)
for code in sample_sitc:
    mapped = map_sitc_to_product(code)
    print(f"  {code} → {mapped}")

print("\nSample country code mappings:")
sample_countries = df[df['country_of_destination_code'].notna()]['country_of_destination_code'].head(5)
for code in sample_countries:
    mapped = map_country_code_to_name(code)
    print(f"  {code} → {mapped}")

=== COUNTRY CODE MAPPING ===
Checking country_of_destination column values...

Unique values in country_of_destination column:
Total unique countries: 221

Top 20 countries:
country_of_destination
New Zealand                                             265982
United States of America                                150221
Papua New Guinea                                         95207
China (excludes SARs and Taiwan)                         64755
Singapore                                                63512
United Kingdom, Channel Islands and Isle of Man, nfd     45675
Malaysia                                                 44130
Japan                                                    41843
Indonesia                                                39768
Hong Kong (SAR of China)                                 35440
Thailand                                                 34774
Fiji                                                     31337
Germany                                                  30037
Canada                                                   29470
United Arab Emirates                                     29122
Netherlands                                              24241
India                                                    24051
Korea, Republic of (South)                               23668
Philippines                                              23328
Vietnam                                                  22947
Name: count, dtype: int64

Checking for problematic entries...

Found problematic country entries:
  'Guyana': 156 records
  'France (includes Andorra and Monaco)': 17,728 records
  'Vietnam': 22,947 records

  'Nauru': 6,585 records
  'Wallis and Futuna': 349 records
  'Grenada': 28 records
  'Canada': 29,470 records

  'Hong Kong (SAR of China)': 35,440 records
  'Northern Mariana Islands': 227 records
  'Bosnia and Herzegovina': 157 records

  'China (excludes SARs and Taiwan)': 64,755 records
  'No Country Details': 544 records
  'St Vincent and the Grenadines': 31 records

  'French Guiana': 1 records
  'Botswana': 3,398 records
  'International Waters': 37 records

  'Macau (SAR of China)': 2,308 records
  'Unknown': 2,635 records
  'Ghana': 10,296 records

  'Suriname': 525 records
  'Argentina': 1,453 records
  'Namibia': 1,547 records
  'Panama': 1,064 records

  'St Helena': 2 records
  'Burkina Faso': 2,530 records

Mapping country codes to country names...

Truly problematic country details before mapping: 204,213

Truly problematic country details after mapping: 148,353
Countries successfully mapped: 55,860

Examples of successful mappings:
  Code: FRAN → Country: France
  Code: HONG → Country: Hong Kong
  Code: HONG → Country: Hong Kong
  Code: FRAN → Country: France
  Code: FRAN → Country: France
 Smart country code mapping completed!

=== MAPPING EXAMPLES ===
Sample SITC code mappings:

  76421 → Telecommunications and sound-recording and reproducing apparatus and equipment
  76421 → Telecommunications and sound-recording and reproducing apparatus and equipment
  76421 → Telecommunications and sound-recording and reproducing apparatus and equipment
  77324 → Electrical machinery, apparatus and appliances, n.e.s., and electrical parts thereof
  87461 → Professional, scientific and controlling instruments and apparatus, n.e.s.

Sample country code mappings:

  NZ → New Zealand
  NZ → New Zealand
  NZ → New Zealand
  USA → Unknown Country
  INDO → Unknown Country

In [21]:
# Save the cleaned dataset with SITC and country mappings
import os

output_file = 'data/exports_cleaned.csv'
df.to_csv(output_file, index=False)

print(f" Cleaned data saved to: {output_file}")
print(f"Final dataset shape: {df.shape}")
print(f"File size: {os.path.getsize(output_file) / 1024**2:.2f} MB")

# Final Summary
print(f"\n DATA CLEANING COMPLETED WITH MAPPINGS!")
print("=" * 50)
print(f" Records: {len(df):,}")
print(f" Countries: {df['country_of_destination'].nunique()}")
print(f" Products: {df['product_description'].nunique()}")
print(f" Total Value: AUD ${df['value_fob_aud'].sum():,.2f}")
print(f"Total Weight: {df['gross_weight_tonnes'].sum():,.2f} tonnes")

 Cleaned data saved to: data/exports_cleaned.csv
Final dataset shape: (1479965, 21)
File size: 351.63 MB

 DATA CLEANING COMPLETED WITH MAPPINGS!
==================================================
 Records: 1,479,965
 Countries: 219

 Products: 2341
 Total Value: AUD $1,031,293,072,667.00
Total Weight: 2,780,691,054.60 tonnes

In [22]:
# Check what products have SITC code 98888
print("=== PRODUCTS WITH SITC CODE 98888 ===")

# Look at the original product descriptions for records with SITC code 98888
sitc_98888_records = df[df['prod_descpt_code'] == 98888]

if len(sitc_98888_records) > 0:
    print(f"Found {len(sitc_98888_records):,} records with SITC code 98888")
    print("\nOriginal product descriptions:")
    original_descriptions = sitc_98888_records['product_description'].value_counts()
    print(original_descriptions)
    
    print(f"\nTotal value for SITC 98888: ${sitc_98888_records['value_fob_aud'].sum()/1e9:.2f}B")
    print(f"Total weight for SITC 98888: {sitc_98888_records['gross_weight_tonnes'].sum()/1e6:.2f}M tonnes")
    
    print("\nTop 5 countries for SITC 98888:")
    country_distribution = sitc_98888_records.groupby('country_of_destination')['value_fob_aud'].sum().sort_values(ascending=False).head()
    for country, value in country_distribution.items():
        print(f"  {country}: ${value/1e9:.2f}B")
else:
    print("No records found with SITC code 98888")

=== PRODUCTS WITH SITC CODE 98888 ===
Found 9,644 records with SITC code 98888

Original product descriptions:
product_description
Special transactions and commodities not classified according to kind    9644
Name: count, dtype: int64

Total value for SITC 98888: $137.94B
Total weight for SITC 98888: 196.32M tonnes

Top 5 countries for SITC 98888:
  Japan: $39.44B
  China: $36.35B
  Korea, Republic of (South): $15.08B
  Singapore: $12.21B
  No Country Details: $10.40B

In [23]:
# FIX COUNTRY CODE ISSUES
print("=== FIXING COUNTRY CODE ISSUES ===")

# Check for "Country Code XXX" entries
country_code_entries = df[df['country_of_destination'].str.contains('Country Code', na=False)]
print(f"Found {len(country_code_entries):,} records with 'Country Code XXX' entries")

if len(country_code_entries) > 0:
    print("\nTop 10 Country Code entries:")
    country_code_counts = country_code_entries['country_of_destination'].value_counts().head(10)
    for country_code, count in country_code_counts.items():
        print(f"  {country_code}: {count:,} records")
    
    # Fix the country codes by extracting the code and mapping it properly
    print("\nFixing Country Code entries...")
    mask = df['country_of_destination'].str.contains('Country Code', na=False)
    
    # Extract the country code (remove "Country Code " prefix)
    df.loc[mask, 'country_of_destination'] = df.loc[mask, 'country_of_destination'].str.replace('Country Code ', '')
    
    # Now apply proper mapping using the updated function
    df.loc[mask, 'country_of_destination'] = df.loc[mask, 'country_of_destination'].apply(map_country_code_to_name)
    
    print(" Country Code entries fixed!")
    
    # Verify the fix
    remaining_country_codes = df[df['country_of_destination'].str.contains('Country Code', na=False)]
    print(f"Remaining 'Country Code XXX' entries: {len(remaining_country_codes):,}")
    
    if len(remaining_country_codes) == 0:
        print("All Country Code entries have been successfully mapped!")
    else:
        print("\nRemaining entries:")
        for country_code, count in remaining_country_codes['country_of_destination'].value_counts().items():
            print(f"  {country_code}: {count:,} records")
else:
    print("No 'Country Code XXX' entries found!")

print("\nCountry code fixing completed!")

=== FIXING COUNTRY CODE ISSUES ===

Found 0 records with 'Country Code XXX' entries
No 'Country Code XXX' entries found!

Country code fixing completed!

In [24]:
# SAVE CLEANED DATA WITH FIXED COUNTRY CODES
print("=== SAVING CLEANED DATA ===")

# Save the cleaned data with fixed country codes
output_file = 'data/exports_cleaned.csv'
df.to_csv(output_file, index=False)

print(f"Cleaned data saved to: {output_file}")
print(f"Total records saved: {len(df):,}")
print(f"Total unique countries: {df['country_of_destination'].nunique():,}")

=== SAVING CLEANED DATA ===

Cleaned data saved to: data/exports_cleaned.csv
Total records saved: 1,479,965
Total unique countries: 219